*{
    caret-color: transparent;
}

input:focus, textarea:focus {
    outline: none;
}

button{
    border: none;
}

button:focus{
    outline: auto;
}

textarea::-webkit-scrollbar{
    display: none;
}

/* Scrollbar starts */

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
      background-image: linear-gradient(rgb(61, 79, 243) 0%, rgb(53, 67, 188) 100%);
      border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
      background: rgb(250, 128, 76); 
  }
  
  /* Scrollbar ends */